
.playersPresentation {
  @include outer-container;
  margin: 20px auto 10px;
  line-height: 50px;

  .name {
    @include span-columns(6 of 13);
    font-size: 36px;

    &.pL {
      text-align: right;
    }

    &.pR {
      text-align: left;
    }
  }

  .vs {
    @include span-columns(1 of 13);
    font-weight: normal;
    font-size: 1.5em;
    text-align: center;

    span {
      display: inline-block;
      width: 50px;
      border-radius: 50px;
      background: #ff6600;
      color: white;
    }
  }
}

.scores {
  @include outer-container;
  margin: 60px auto 0;
}

.score {
  @include span-columns(20 of 40);
  position: relative;
  height: 340px;
}

.points,
.games {
  border-radius: 2px;

  .number {
    display: block;
    position: relative;
    height: 100%;
  }
}

.flip-enter {
  @include transform(translateY(-100%));
}

.flip-enter.flip-enter-active {
  @include transform(translateY(0));
  @include transition(all 400ms cubic-bezier(0.55, 0.09, 0.68, 0.53));
}

.flip-leave {
  top: -340px;
}

.flip-leave.flip-leave-active {
  top: 0;
  @include transition(all 400ms cubic-bezier(0.55, 0.09, 0.68, 0.53));
}

.points {
  position: relative;
  float: right;
  width: 60%;
  height: 100%;
  overflow: hidden;
  // padding: 20px 0 30px;
  background: #fefefe;
  color: #15232D;
  font-size: 240px;
  font-weight: bold;
  text-align: center;
  line-height: 340px;
}

.games {
  position: absolute;
  right: 62%;
  bottom: 0;
  width: 150px;
  height: 150px;
  overflow: hidden;
  padding: 30px 40px;
  background: #1C252B;
  color: #fafafa;
  font-size: 80px;
  text-align: center;
}

&.scoreR {
  float: left;

  .points {
    float: left;
  }

  .games {
    right: auto;
    left: 62%;
  }
}

.scoreControls {
  clear: both;
  float: right;
  width: 50%;
  margin-top: 10px;
  padding: 10px;

  .scoreR & {
    float: left;
  }

  &__modifier {
    @include span-columns(3 of 6);
    border: 1px solid #e2e2e2;
    // background: #f8f8f8;
    border-radius: 4px;
    text-align: center;
    color: #aaa;
    font-size: 16px;
    font-weight: normal;
    line-height: 2;

    &--add {
      @extend .scoreControls__modifier;
    }

    &--subtract {
      @extend .scoreControls__modifier;
    }
  }
}

.newGameLink {
  display: inline-block;
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 200px;
  margin: 40px 0 0 -100px;
  padding: 10px;
  text-align: center;
  color: #777;
  font-size: 12px;

  &:hover {
    color: #444;
  }
}

#chooseServer {
  position: fixed;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  background: #010101;
  z-index: 99999;
  text-align: center;

  .wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &.hide {
    display: none;
  }

  p{
    margin-top: -.75em;
  }

  button {
    -webkit-appearance: none;
    outline: none;
    border: none;
    font-size: 1.25em;
    background: transparent;
    color: #ddd;
  }
}

.winner {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  @include transition(opacity 400ms ease-in);

  &__confetti {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    background: url('http://media.giphy.com/media/138i1MiNVi9P0Y/giphy.gif');
  }

  &__inner {
    @include outer-container;
    position: relative;
    z-index: 2;
    padding-top: 40px;
    text-align: center;
  }

  &__gif {
    min-width: 400px;
    height: auto;
    @include transition(transform 1.5s cubic-bezier(0.415, 0.025, 0.000, 0.995));
    // @include transform(scale(0) rotate(0deg));
  }

  &.show {
    display: block;

    &.animate {
      opacity: 1;

      .winner__gif {
        // @include transform(scale(1) rotate(3600deg));
      }
    }
  }

  .congrats {
    margin: 40px 0 20px;
    font-size: 30px;
    font-weight: normal;
    color: #fefefe;
    line-height: 1.5;
  }

  .buttonWrap {
    position: fixed;
    bottom: 40px;
    left: 0;
    right: 0;
  }
}
