
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px;
  background-color: $bgColor;
  color: #fefefe;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}

a {
  text-decoration: none;
}

.container {
  @include outer-container;
}

.textAlign {
  &--center {
    text-align: center;
  }
}
